*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);
--Dark-Grayish-Red: hsl(0, 6%, 24%);
      /*### Gradients*/
--Linear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
--Linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl( 0, 74%, 74%));
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background: var(--Linear);
  }
  .content{
    max-height: 600px;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 545px 450px;
    grid-template-rows: 150px 450px;
    background: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
  }
  .content-text-logo{
    margin: 50px 0px 0px 100px;
  }
  .content-text{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 50px 100px;
  }
  .content-text-hdr h1{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
  .content-text-hdr span{
    font-weight: 300;
    color: var(--Soft-Red);
  }
  .content-text-para p{
    line-height: 25px;
    font-size: .8em;
    color: var(--Soft-Red);
    padding-right: 90px;
    margin-bottom: 20px;
  }
  .content-img{
    grid-column: 2;
    grid-row: 1/3;
    height: 600px;
    width: 450px;
    background: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  input::placeholder{
    color: var(--Soft-Red);
    opacity: .5;
  }
  form{
    margin-top: 2em;
    width: 80%;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Soft-Red);
  }
  #input-email{
    border: none;
    background: none;
    width: 100%;
    padding: 10px 20px;
    color: var(--Dark-Grayish-Red);
    font-weight: 400;
    font-size: 1em;
    height: 40px;
  }
  .error-icon{
    position: relative;
    margin-right: -30px;
  }
  .error-icon, .error-msg{
    opacity: 0;
  }
  #submit-btn{
    position: absolute;
    padding: 14px 45px;
    margin-right: -400px;
    background-image: url(./images/icon-arrow.svg), var(--Linear2);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  #submit-btn:active{
    background-image: url(./images/icon-arrow.svg), linear-gradient(135deg, hsla(0, 80%, 86%, .5), hsl( 0, 74%, 74%, .5));
  }
  textarea:focus, input:focus{
    outline: none;
  }
  .error-msg p{
    text-align: start;
    padding: 15px 20px;
    color: var(--Soft-Red);
  }
  .error-icon{
    padding-right: 10px;
  }
  .error form{
    border: 2px solid var(--Soft-Red);
  }
  .error img{
    opacity: 1;
  }
  .error .error-msg{
    opacity: 1;
  }
  @media(max-width: 1000px){
    .content{
      min-height: 800px;
      grid-template-columns: 375px;
      grid-template-rows: 75px 250px 450px;
    }
    .content-text-logo{
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 30px;
    }
    .content-text-logo img{
      width: 115px;
    }
    .content-img{
      grid-column: 1;
      grid-row: 2;
      height: 250px;
      width: 375px;
      background: url(./images/hero-mobile.jpg);
    }
    .content-text{
      grid-row: 3;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0px;
    }
    .content-text-para p{
      line-height: 20px;
      padding: 0px 50px;
      margin-bottom: 0px;
    }
    form{
      margin-top: 2em;
      width: 90%;
      padding-right: 70px;
    }
    #input-email{
      width: 100%;
      padding: 10px 20px;
    }
    .error-icon{
      position: relative;
      left: 15px;
    }
    #submit-btn{
      padding: 14px 30px;
      margin-right: -350px;
    }
  }
  @media(max-width: 400px){
    .content{
      box-shadow: 0 15px 30px rgba(0, 0, 0, .0);
    }
  }
 